@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-secondary-background: #f8f9fa;
  --color-accent: #12918f;
  --color-border: #ced4da;
  --color-secondary: #343a40;

  /* Dark Theme */
  --color-dark-background: #212121;
  --color-dark-secondary-background: #1C1C1C;
  --color-dark-accent: #2DC8C5;
  --color-dark-border: #444444;
  --color-dark-secondary: #d6d6d6;

  /* New Colours */
  --color-teal: #2DC8C5;
  --color-orange: #F7A072;
  --color-pink: #CC76A1;

}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--color-background);
  --color-secondary-background: var(--color-secondary-background);
  --color-accent: var(--color-accent);
  --color-border: var(--color-border);
  --color-secondary: var(--color-secondary);

  /* Dark Theme */
  --color-dark-background: var(--color-dark-background);
  --color-dark-secondary-background: var(--color-dark-secondary-background);
  --color-dark-accent: var(--color-dark-accent);
  --color-dark-border: var(--color-dark-border);
  --color-dark-secondary: var(--color-dark-secondary);
  --color-dark-container: var(--color-dark-secondary-background);

  /* New Colours */
  --color-teal: var(--color-teal);
  --color-orange: var(--color-orange);
  --color-pink: var(--color-pink);
}

/* Hide Stepper Arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Hide Horizontal Scrollbars */
&::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}

&::-webkit-scrollbar-thumb:horizontal {
  display: none;
}

.grid-background {
  z-index: 0;
  width: 100%;
  background-image: 
    linear-gradient(to right, var(--color-dark-border) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-dark-border) 1px, transparent 1px);
  background-size: 10vw 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  mask-image: linear-gradient(to top, transparent 0%, var(--color-dark-background) 100%);
}