@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #f9f9f9;
  --color-secondary-background: #ddd;
  --color-accent: #12918F;
  --color-border: #ddd;
  --color-secondary: #4B5563;

  --color-dark-background: #212121;
  --color-dark-secondary-background: #303030;
  --color-dark-accent: #2DC8C5;
  --color-dark-border: #404040;
  --color-dark-secondary: #d4d4d4;
  --color-dark-container: #191919;
}