@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #f9f9f9;
  --color-secondary-background: #ddd;
  --color-accent: #12918F;
  --color-border: #ddd;
  --color-secondary: #4B5563;

  --color-dark-background: #121212;
  --color-dark-secondary-background: #1e1e1e;
  --color-dark-accent: #29b4b1;
  --color-dark-border: #3a3a3a;
  --color-dark-secondary: #cccccc;
  --color-dark-container: #181818;
}

/* Hide Stepper Arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Hide Horizontal Scrollbars */
&::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}

&::-webkit-scrollbar-thumb:horizontal {
  display: none;
}