@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #f8f9fa;
  --color-secondary-background: #e9ecef;
  --color-accent: #17a2b8;
  --color-border: #ced4da;
  --color-secondary: #495057;

  /* Dark Theme */
  --color-dark-background: #121212;
  --color-dark-secondary-background: #222222;
  --color-dark-accent: #3dd5d1;
  --color-dark-border: #444444;
  --color-dark-secondary: #d6d6d6;
  --color-dark-container: #1e1e1e; 
}

/* Hide Stepper Arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Hide Horizontal Scrollbars */
&::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}

&::-webkit-scrollbar-thumb:horizontal {
  display: none;
}